In [1]:
import pandas as pd

In [2]:
hawkers = pd.read_csv('ListofGovernmentMarketsHawkerCentres.csv')

In [3]:
hawkers.head()

,name_of_centre,location_of_centre,type_of_centre,owner,no_of_stalls,no_of_cooked_food_stalls,no_of_mkt_produce_stalls
0,Adam Road Food Centre,"2, Adam Road, S(289876)",HC,Government,32,32,0
1,Amoy Street Food Centre,"National Development Building, Annex B, Telok ...",HC,Government,135,134,1
2,Bedok Food Centre,"1, Bedok Road, S(469572)",HC,Government,32,32,0
3,Beo Crescent Market,"38A, Beo Crescent, S(169982)",MHC,Government,94,32,62
4,Berseh Food Centre,"166, Jalan Besar, S(208877)",HC,Government,66,66,0

In [4]:
geocode = pd.read_csv('updated_sg_zipcode_mapper_utfv2.csv', index_col = 0)
geocode.head()

,postal,lat,lng,searchval,block,street_name,building,address,postal.1
0,398614,1.312763,103.883519,# 1 LOFT,1,LORONG 24 GEYLANG,# 1 LOFT,1 LORONG 24 GEYLANG # 1 LOFT SINGAPORE 398614,398614
1,398721,1.312390,103.881504,# 1 SUITES,1,LORONG 20 GEYLANG,# 1 SUITES,1 LORONG 20 GEYLANG # 1 SUITES SINGAPORE 398721,398721
2,629875,1.309135,103.679463,1 BENOI RD SINGAPORE 629875,1,BENOI RD,NIL,1 BENOI RD SINGAPORE 629875,629875
3,439731,1.305466,103.895674,1 BOSCOMBE RD SINGAPORE 439731,1,BOSCOMBE RD,NIL,1 BOSCOMBE RD SINGAPORE 439731,439731
4,659592,1.344619,103.749789,1 BUKIT BATOK ST 22 SINGAPORE 659592,1,BUKIT BATOK ST 22,NIL,1 BUKIT BATOK ST 22 SINGAPORE 659592,659592

In [5]:
# Removal of 'Blk' for easier API extraction
hawkers['name_of_centre'] = hawkers['name_of_centre'].str.replace('Blk ','')

In [6]:
hawkers_dataset = pd.merge(hawkers, geocode, how='left', left_on='name_of_centre',right_on='searchval')
hawkers_dataset.head()

,name_of_centre,location_of_centre,type_of_centre,owner,no_of_stalls,no_of_cooked_food_stalls,no_of_mkt_produce_stalls,postal,lat,lng,searchval,block,street_name,building,address,postal.1
0,Adam Road Food Centre,"2, Adam Road, S(289876)",HC,Government,32,32,0,289876,1.324083,103.814182,Adam Road Food Centre,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876
1,Amoy Street Food Centre,"National Development Building, Annex B, Telok ...",HC,Government,135,134,1,69111,1.279231,103.846619,Amoy Street Food Centre,7,MAXWELL ROAD,AMOY STREET FOOD CENTRE,7 MAXWELL ROAD OCBC AMOY STREET FOOD CENTRE SI...,69111
2,Bedok Food Centre,"1, Bedok Road, S(469572)",HC,Government,32,32,0,469572,1.320347,103.955481,Bedok Food Centre,1,BEDOK ROAD,BEDOK FOOD CENTRE,1 BEDOK ROAD BEDOK FOOD CENTRE SINGAPORE 469572,469572
3,Beo Crescent Market,"38A, Beo Crescent, S(169982)",MHC,Government,94,32,62,169982,1.288831,103.827354,Beo Crescent Market,38A,BEO CRESCENT,BEO CRESCENT MARKET,38A BEO CRESCENT BEO CRESCENT MARKET SINGAPORE...,169982
4,Berseh Food Centre,"166, Jalan Besar, S(208877)",HC,Government,66,66,0,208877,1.307344,103.856889,Berseh Food Centre,166,JALAN BESAR,BERSEH FOOD CENTRE,166 JALAN BESAR DBS BERSEH FOOD CENTRE SINGAPO...,208877

In [8]:
mismatch_hawkers = hawkers_dataset[hawkers_dataset['lat'].isna()]
mismatch_hawkers

## OBSERVATION: '4A Woodlands Centre Road' has been closed down.

,name_of_centre,location_of_centre,type_of_centre,owner,no_of_stalls,no_of_cooked_food_stalls,no_of_mkt_produce_stalls,postal,lat,lng,searchval,block,street_name,building,address,postal.1
62,4A Woodlands Centre Road,"Blk 4A, Woodlands Centre Road, S(731004)",HC,HDB,78,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
hawkers_dataset.drop(62, inplace=True)

In [15]:
hawkers_dataset = hawkers_dataset[['name_of_centre','type_of_centre','postal','lat','lng','block','street_name']]
hawkers_dataset.reset_index(drop=True)

,name_of_centre,type_of_centre,postal,lat,lng,block,street_name
0,Adam Road Food Centre,HC,289876,1.324083,103.814182,2,ADAM ROAD
1,Amoy Street Food Centre,HC,69111,1.279231,103.846619,7,MAXWELL ROAD
2,Bedok Food Centre,HC,469572,1.320347,103.955481,1,BEDOK ROAD
3,Beo Crescent Market,MHC,169982,1.288831,103.827354,38A,BEO CRESCENT
4,Berseh Food Centre,HC,208877,1.307344,103.856889,166,JALAN BESAR
...,...,...,...,...,...,...,...
101,Hong Lim Market & Food Centre,MHC,51531,1.285324,103.845777,531A,UPPER CROSS STREET
102,Kovan Market & Food Centre,MHC,530209,1.359084,103.886055,209,HOUGANG STREET 21
103,Pek Kio Market & Food Centre,MHC,211041,1.316131,103.850233,41A,CAMBRIDGE ROAD
104,People's Park Food Centre,HC,50032,1.284856,103.842600,32,NEW MARKET ROAD
105,Tekka Market,MHC,210661,1.306711,103.850134,661,BUFFALO ROAD

In [16]:
hawkers_dataset.to_csv('hawkers_dataset.csv', index = False)