In [2]:
import os
import pandas as pd
import numpy as np

In [39]:
shopping_locations = pd.read_csv('shopping_mall_coordinates.csv')
shopping_locations

                          Mall Name  LATITUDE   LONGITUDE
0                            100 AM  1.274588  103.843471
1                      313@Somerset  1.301014  103.838361
2                            Aperia  1.310474  103.864313
3    Balestier Hill Shopping Centre  1.325596  103.842572
4                        Bugis Cube  1.298141  103.855635
..                              ...       ...         ...
150         Gek Poh Shopping Centre  1.348742  103.697740
151                  Rochester Mall  1.305408  103.788447
152    Taman Jurong Shopping Centre  1.334845  103.720462
153                West Coast Plaza  1.303586  103.766104
154       Queensway Shopping Centre  1.287618  103.803391

[155 rows x 3 columns]

In [41]:

shopping_locations = shopping_locations.rename(columns={'LATITUDE':'lat', 'LONGITUDE':'lng'}).reset_index(drop = True)

shopping_locations.to_csv('shopping_mall_coordinates.csv')

In [ ]:
'''
shopping_locations = pd.read_csv('sg_zipcode_mapper_utf.csv', index_col = 0)
shopping_locations = shopping_locations[shopping_locations['searchval'].str.contains('SHOPPING | MALL')]
shopping_locations.drop(columns=['searchval','block','street_name','address','postal'], inplace=True)
shopping_locations = shopping_locations.rename(columns={'postal.1':'postal'}).reset_index(drop = True)
'''